.container{
    display: flex;
    justify-content: space-around;
}
.menu{
    background-color: yellowgreen;
    height: 50px;
    padding-top: 20px;
}
.a{
    text-decoration: none;
}
.a:hover{
    text-decoration:underline;
}